body {
    background-color: antiquewhite;
    width: 80vw;
    height: 200vh;
    padding: 2rem;
}

.main-1 {
    background-color: darkgray;
    height: 300px;
    padding: 1rem;
    margin: 1rem;
    /* position: relative; */
}


.element {
    width: 50px;
    height: 50px;
    padding: 1rem;
    border: 1px solid red;
    margin: 1rem;
}

.element-1-1 {
    background-color: aqua;

}

.element-1-2 {
    background-color: brown;
    /*the offset is applied relative to the element itself. */
    position: relative;
    left: 200px;
    /* bottom: 100px; */
}

.element-1-3 {
    background-color: chartreuse;
    position: sticky;

    top: 10px;
    right: 300px;

}


/* box 2 */

.main-2 {
    background-color: honeydew;
    height: 300px;
    padding: 1rem;
    margin: 1rem;
}

.main-2 {
    position: relative;
}

.element-2-1 {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
}

.element-2-2 {
    color: white;
    background-color: darkblue;

    position: absolute;
    right: 0;
    top: 0;
}

.element-2-3 {
    background-color: cornflowerblue;
    color: white;

    position: sticky;
    top: 0;

  
}


.outer-element{
    position: sticky;
    top: 300px;
    left: 200px;
    z-index: 100;

    background-color: darkorchid;
}













.logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    animation: addborder 2s infinite linear;
}







/* 
@keyframes addborder {
    25%{
        border-bottom: 2px solid red;
    }
    50%{
        border-right: 2px solid red;
    }

    75%{
        border-top: 2px solid red;
    }

    100%{
        border-left: 2px solid red
    }
} */